.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: darkslategray;
}
nav{
    display: flex;
justify-content: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
}
.links{
    text-decoration: none;
    padding-right: 10px;
    color:white;
}
.links:hover{
color: chartreuse;
}
